body{
    padding: 0;
    margin: 0;
}

.nav{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #dbdbdb;
}

.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav ul{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.nav li {
    display: inline;
}

.carousel{
    border-bottom: 1px solid #dbdbdb;
}

.landing{
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 48px;
    margin-bottom: 0px;
}

.jumbotron{
    background-color: transparent;
}

.jumbotron .container{
    position: relative;
    top: 50px;
}

.jumbotron h1{
    color: #fff;
    font-size: 62px;
    font-weight: bold;
    text-shadow: 2px 5px 5px #333;
}

.jumbotron p{
    font-size: 20px;
    color: #000;
}

.AboutUs{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.AboutUs h2{
    font-size: 24px;
    color: #393c3d;
}

.AboutUs p{
    font-size: 15px;
    margin-bottom: 15px;
}

.AboutUs .thumbnail{
    border: none;
    background-color: transparent;
}

.events{
    border-bottom: 1px solid #dbdbdb;
}

.ContactUs{
    padding-top: 48px;
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.ContactUs .form{
    border-radius: 2px;

}

.info .header{
    background-color: #F5F5F5;
    padding: 10px;
    font-size: 28px;
    border-bottom: 1px solid #dbdbdb;
}

textarea{
    resize: vertical;
}

.ContactUs .header{
    color: #36A0FF;
    font-size: 28px;
    padding: 10px;
}

.SignUp{
    height: 500px;
    margin-top: 48px;
    margin-bottom: 0px;
    background-color: #f9f9f9;
    border-right: 1px solid #dbdbdb;
}

.SignIn{
    height: 500px;
    margin-top: 48px;
    margin-bottom: 0px;
    background-color: #fcfcfc;
}

.footer{
    padding: 10px;
    background-color: #fff;
    font-size: 13px;
}